@import "../../styles/variables.scss";

.mentor_list_container {
	.mentor_table {
		width: 100%;
		min-width: 800px;
		border-collapse: collapse;
		box-shadow: $box-shadow;
		margin-top: 20px;
		border-radius: 8px;
		overflow: hidden;

		th,
		td {
			padding: 12px 15px;
			border-bottom: 1px solid #eaeaea;
		}

		td {
			text-align: center;
		}

		th {
			text-align: left;
			background-color: $primary-color;
			color: white;
			font-weight: normal;
		}

		tr {
			transition: background-color 0.3s ease;
			background-color: #fff;

			&.selected {
				background-color: rgb(193, 224, 253) !important;
				border: 1px double $primary-color !important;
				box-shadow: inset 0px 0px 10px 1px #3030309d !important;
				font-weight: 600;
				color: $primary-color;
			}

			&.own_address {
				background-color: rgb(193, 224, 253) !important;
				border: 1px double $primary-color !important;
				box-shadow: inset 0px 0px 10px 1px #3030309d !important;
				font-weight: 600;
				color: $primary-color;
			}
		}

		tr:nth-child(even) {
			background-color: #f8f8f8;
		}

		tr:hover {
			background-color: #e6e4e4;
		}

		td {
			font-size: 0.95em;
		}

		i {
			color: $primary-color;
		}
	}
}
