@import "../../../../styles/variables.scss";

.background_container {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;

	.custom_shape_divider_bottom_1700748689 {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: rotate(180deg) scaleX(-1);
		z-index: -1;
	}

	.custom_shape_divider_bottom_1700748689 svg {
		position: relative;
		display: block;
		width: calc(150% + 1.3px);
		height: 514px;
	}

	.custom_shape_divider_bottom_1700748689 .shape_fill {
		fill: $primary-color;
	}
}
