.footerContainer {
	position: relative;
	padding: 20px;
	text-align: center;

	.debugBtn {
		border: 1px solid #fff;
		border-radius: 5px;
		padding: 5px 10px;
		color: #fff;
	}
}

.footerText {
	margin: 10px 0;
	color: #fff;
}

.footerLink {
	margin-right: 15px;
	color: #fff;
	text-decoration: none;
}

.footerLink:hover {
	text-decoration: underline;
}
