.footerContainer {
	padding: 20px;
	text-align: center;
}

.footerText {
	margin: 10px 0;
	color: #fff;
}

.footerLink {
	margin-right: 15px;
	color: #fff;
	text-decoration: none;
}

.footerLink:hover {
	text-decoration: underline;
}
