@import "../../../../styles/variables.scss";

.background_container {
	position: fixed;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;

	.custom_shape_divider_bottom_1700749040 {
		opacity: 0.3;
		width: 100%;
		line-height: 0;
		transform: rotate(180deg);
	}

	.custom_shape_divider_bottom_1700749040 svg {
		position: relative;
		display: block;
		width: calc(200% + 1.3px);
		height: 213px;
		transform: rotateY(180deg);
	}

	.custom_shape_divider_bottom_1700749040 .shape_fill {
		fill: $primary-color;
	}
}
