@import "../../styles/variables.scss";

.prizeCard {
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 16px;
	background-color: #fffdfd;
	text-align: center;
	box-shadow: $box-shadow;
	width: 300px;

	.prizeImage {
		width: 100%;
		height: auto;
		border-radius: 8px;
	}

	.prizeName {
		margin-top: 10px;
		font-size: 1.2em;
	}

	.prizeDescription {
		font-size: 0.9em;
		color: #666;
		margin: 10px 0;
	}

	.prizeCost {
		font-weight: bold;
		margin-bottom: 10px;
	}

	button {
		margin: 0 auto;
	}
}
