@import "../../styles/variables.scss";

.container {
	max-width: 900px;
	margin: 0 auto;
	opacity: 0;
	font-family: Arial, sans-serif;

	h1 {
		color: $primary-color;
		text-align: center;
		font-size: 3rem;
	}

	h2 {
		color: $primary-color;
		margin-top: 20px;
		line-height: 1.3;
	}

	p {
		color: #111;
		line-height: 1.6;
	}
}
