@import "../../styles/variables.scss";

.profileDetails {
	min-width: 500px;
	background: #ffffff;
	border-left: 4px solid $primary-color;
	padding: 20px;
	border-radius: 12px;
	box-shadow: $box-shadow;
	margin-bottom: 30px;

	.profileSection {
		border-bottom: 1px solid #eaecef;
		padding: 10px 0;

		&:last-child {
			border-bottom: none;
		}

		h3 {
			font-size: 1.25rem;
			color: #333;
			margin: 0;
			font-weight: 400;
			span {
				font-weight: 600;
			}
		}
	}
}
