@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: rgb(247, 247, 247);
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h4 {
	font-weight: 600;
	color: #0077ff;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8rem;
}

h4 {
	font-weight: 600;
	font-size: 2.3rem;
	max-width: 900px;
	text-align: center;
	margin: 2rem;
}

.page {
	padding: 10rem 0 2rem 0;
}

.basic-card {
	background-color: #ffffff;
	border-radius: 12px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	border-left: 4px solid #0077ff;
	button {
		align-self: center;
	}
}

.form_confirmation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h4 {
		font-size: 2rem;
		text-align: center;
	}
}

.form_error {
	color: red;
}

//////////////////////////
// KEYFRAMES ANIMATIONS //
//////////////////////////

.fade-in-bottom {
	animation: fade-in-bottom 500ms ease-in-out;
}

@keyframes fade-in-bottom {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
