@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: rgb(247, 247, 247);
}

h2 {
	font-weight: 600;
}

.basic_form {
	max-width: 600px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form_error {
	color: red;
}
