@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: rgb(247, 247, 247);
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h2 {
	font-weight: 600;
}

.basic_form {
	max-width: 600px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	button {
		align-self: center;
	}
}

.form_confirmation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h4 {
		font-size: 2rem;
		text-align: center;
	}
}

.form_error {
	color: red;
}

//////////////////////////
// KEYFRAMES ANIMATIONS //
//////////////////////////

.fade-in-bottom {
	animation: fade-in-bottom 500ms ease-in-out;
}

@keyframes fade-in-bottom {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
