$primary-color: #0077ff;
$secondary-color: #0077ff;
$confirm-color: #3fe77c;
$cancel-color: #ff5f5f;
$shadow-color: #111025;
$border: 1px solid rgb(255, 255, 255);
$box-shadow: 1px 2px 15px 0px #0000008a;
$text-shadow: 0 5px 10px rgba($shadow-color, 0.3);
